.board {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 1000px;
    height: 100%;
    margin-left: 20px;
}

.board-name {
    width: 100%;
    text-align: center;
}

.board-columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.board-columns > li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.task-list {
    height: 550px;
    width: 275px;
    padding: 10px 20px 10px 20px;
    overflow-y: auto;
    margin-bottom: 10px;
}


.board-columns li h2 {
    text-align: center;
}

